body {
    font-family: monospace, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#pages {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 1.5s ease;
    background-color: #eee;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home p {
    font-size: smaller;
    margin-top: -15px;
}

#instructions {
    text-align: center;
    font-size: x-small;
    margin-right: 100px;
}

h1 {
    font-size: xx-large;
    padding: 0px;
    margin: 50px;
}

h2 {
    font-size: x-large;
    margin: 0px;
}

#instructions p {
    margin: 1px;
}

canvas {
    border: 1px solid #333;
    margin-bottom: 5px;
    cursor: crosshair;
}

#score-column {
    width: 100px;
    height: 501px;
    display: flex;
    flex-direction: column;
}

.score-box {
    flex: 1; 
    border: 1px solid #333; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: xx-large;
}

.stat-box {
    flex: 1; 
    border: 1px solid #ccc; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: large;
}

.stat {
    flex: 1; 
    border: 1px solid #111; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: small;
    background-color: #999;
}

.stats-names {
    width: 600px;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 2px;
}

.stats-numbers {
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

[data-current] {
    background-color: #333;
    color: #f5f5f5;
}

button[hidden] {
    display:none;
}

button {
    font-size: smaller;
    padding: 8px;
    border-width: 1px;
    border-radius: 6px;
    opacity: 0.8;
    font-family: monospace;
    background-color: #999;
}

#home button {
    font-size: large;
}

.switch-page {
    background-color: #111;
    color: #ccc;
    border-width: 2px;
    border-radius: 20px;
    border-color: #ccc;
    margin: 20px;
}

button:hover {
    opacity: 1;
}
 
.buttons {
    margin-right: 100px;
}
