body {
    font-family: monospace, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

h1 {
    font-size: clamp(26px, 5.5vw,36px);
    font-weight: bold;
    padding: 0px;
    margin: 50px;
    opacity: 1;
}

h2 {
    position: absolute;
    top: 2vh;
    display: block;
    font-size: clamp(22px,4.5vw,30px);
    margin: 0px;
}

#viewport {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#pages {
    display: flex;
    opacity: 1;
    width: 300vw;
    height: 100vh;
    transition: transform 0.7s cubic-bezier(0.3,0.2,0.2,1), opacity 0.4s ease-in-out;
    background-color: #1e2633;
    color: whitesmoke
}

#score-column {
    display: flex;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stat-view {
    display: none;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#stats-page {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
}

.stats-names {
    width: 95vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 2px;
}

.stats-numbers {
    width: 95vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.stat-box {
    flex: 1; 
    border: 1px solid #1a1a1a; 
    background-color: #1a1a1a;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: clamp(15px,2.8vw,18px);
}

.stat {
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: clamp(11px,1.8vw,13px);
    background-color: #7c1f25;
}

#summary-dashboard {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 95vw;
    max-height: 95vh;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 5vh
}

#summary-grid {
    display: grid;
    max-height: 90vh;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: #1a1a1a;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto auto auto auto auto;
    row-gap: clamp(5px,1vh,25px);
    padding: 3vw;
    justify-content: space-evenly;
}

#summary-card-header {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    font-size: clamp(15px,2.8vw,18px);
}

#summary-card-1 {
    grid-column: 1;
    grid-row: 2;
    width: 45vw;
    text-align: left;
    font-size: clamp(12px,2.0vw,14px);
}

#summary-card-2 {
    grid-column: 2;
    grid-row: 2;
    width: 45vw;
    text-align: right;
    font-size: clamp(12px,2.0vw,14px);
}

#view-quick .heatmap-container{
    grid-column: 1 / span 2;
    grid-row: 4;
    height: min(45vh, 90vw);
    width: min(45vh, 90vw);
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: -10px;
    margin-bottom: -20px;
}

#summary-card-3 {
    grid-column: 1;
    grid-row: 5 / span 2;
    width: 45vw;
    text-align: center;
    font-size: clamp(12px,2.0vw,14px);
}

#summary-card-4 {
    grid-column: 2;
    grid-row: 5;
    width: 45vw;
    text-align: center;
    font-size: clamp(12px,2.0vw,14px);
}

#summary-card-footer {
    grid-column: 2;
    grid-row: 6;
    justify-content: center
}

.branding {
    font-size: clamp(16px,3.2vw,22px);
    font-weight: bold;
    text-align: center;
    line-height: 0%;
    opacity: 0.4;
}

#download-btn {
    position: relative;
    font-size: clamp(11px,1.8vw,13px);
    width: auto;
    height: auto;
    margin-top: -1.5vh;
    opacity: 1;
}

#summary-card-profile {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: clamp(12px,2.0vw,14px);
    text-align: center;
}

#player-strength {
    border: 1px dotted #a855f7;
    border-radius: 8px;
    padding: 4px;
    font-size: clamp(11px,1.8vw,13px);
}

.profile-slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 10px;
    margin: 10px 0px;
    margin-top: 5px;
}

.slider-track {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #3b82f6, #a855f7, #f59e0b);
}

.slider-marker {
    position: absolute;
    top: -3px;
    transform: translate(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid whitesmoke;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    transition: 1.5s ease;
}

#session-dashboard {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 95vw;
    max-height: 85vh;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 5vh;
}

#session-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto auto;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: #1a1a1a;
    row-gap: clamp(5px,1vh,25px);
    padding: 3vw;
}

.session-card {
    min-width: 45vw;
    margin: 1vw;
}

#session-card-header {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
}

#session-card-1 {
    grid-row: 2;
    grid-column: 1;
    font-size: clamp(12px,2.0vw,14px);
}

#session-card-2 {
    grid-row: 2;
    grid-column: 2;
    font-size: clamp(12px,2.0vw,14px);
    text-align: right;
}

#session-card-3 {
    grid-row: 4;
    grid-column: 1;
    font-size: clamp(12px,2.0vw,14px);
    text-align: center;
}

#session-card-4 {
    grid-row: 4;
    grid-column: 2;
    font-size: clamp(12px,2.0vw,14px);
    text-align: center;
}

#session-card-5 {
    grid-row: 5;
    grid-column: 1 / span 2;
    font-size: clamp(12px,2.0vw,14px);
    text-align: center;
    border: 1px dotted #7c1f25;
    border-radius: 10px;
    padding: 2px;
}

#view-stats-select {
    position: absolute; top: 0; display: none; flex-direction: row; gap: 10px;
}

.card-stat {
    opacity: 0.9;
    font-size: clamp(12px,2.0vw,14px);
}

.card-meta {
    font-size: clamp(12px,2.0vw,14px);
    opacity: 0.8
}

#view-session .heatmap-container {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 3;
    margin: auto;
    margin-top: -2vh;
    margin-bottom: -2vh;
    height: min(45vh,90vw);
    width: min(45vh,90vw);
    justify-items: center;
    align-items: center;
}

#scoring-layout {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

#scoring-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,3.5fr);
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;
}

.treble-count-box {
    min-width: 45vw;
    margin: 1vw;
    font-size: clamp(15px,2.8vw,18px);
    align-items: center;
    font-variant-numeric: tabular-nums;
}

#top-trebles {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

#visit-count {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

#scoring-dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.graph-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.stat-view canvas {
    height: 100% !important;
    width: auto;
}

#visit-graph-container {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: auto;
    width: auto;
}

#throw-graph-container {
    grid-column: 1 / span 2;
    grid-row: 3;
    height: auto;
    width: auto;
}

#doubles-radar-container {
    margin-top: 2vh;
    width: min(95vw, 40vh);
    height: min(95vw, 40vh);
}

#doubles-dashboard {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-height: 75vh;
    justify-content: center;
    align-items: center;
}

#doubles-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
}

#top-doubles-table {
    grid-row: 1;
    grid-column: 1;
}

#worst-doubles-table {
    grid-row: 2;
    grid-column: 1;
}

#home p {
    font-size: clamp(12px,2.0vw,14px);
    margin-top: -15px;
}

#instructions {
    position: absolute;
    text-align: center;
    font-size: clamp(11px,1.8vw,13px);
    top: 8vh;
    margin-bottom: 1vh;
}

#view-quick hr { 
    height: 1.5px; 
    border-width: 0; 
    background-color: #007a3d;
}

#instructions p {
    margin: 1px;
}

#dartboard {
    margin-top: 3px;
    border: 2px solid whitesmoke;
    border-radius: min(5vw, 2.5vh);
    cursor: crosshair;
    width: 100%;
    max-width: min(95vw, 55vh);
    height: auto;
    display: block;
  }

#score-column {
    min-width: min(95vw, 55vh);
    max-width: min(95vw, 55vh);
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.score-box {
    flex: 1; 
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    background-color: #2a2a2a;
    color: whitesmoke;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: clamp(18px,3.5vw,24px);
}

#stats h2 {
    position: absolute;
    top: 2vh;
}

#quick-view .stat{
    background-color: #333;
}

[data-current] {
    background-color: #111;
    color: white;
}

button[hidden] {
    display:none;
}

button {
    font-size: clamp(12px,2.0vw,14px);
    padding: 8px;
    border-width: 1px;
    border-radius: 6px;
    opacity: 0.8;
    font-family: monospace;
    background-color: #2b2b2b;
    color: #e4e4e4;
    z-index: 2;
}

#home button {
    font-size: clamp(18px,3.5vw,24px);
}

.switch-page {
    background-color: #111;
    color: #ffffff;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin: 20px;
}

button:hover {
    opacity: 1;
}
 
.buttons {
    justify-content: space-evenly;
    height: 5vw;
    margin-top: 2vh;
}

.buttons button {
    background-color: #2b2b2b;
    color: #e4e4e4;
}

#help {
    font-size: clamp(11px,1.8vw,13px);
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: #e4e4e4
}

#info {
    opacity: 0;
    position: absolute;
    font-size: clamp(15px,2.8vw,18px);
    background-color: #2b2b2b;
    padding: 4vh;
    z-index: 0;
    min-height: 50vh;
    width: 75vw;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
    text-align: center;
}

#tracker-buttons, #stats-buttons {
    position: fixed;
    bottom: 6vh;
}

.heatmap-container {
    position: relative;
    width: 80vw;
    height: 80vw;
}

#tracker-container {
    position: relative;
    width: 100%;
    max-width: min(80vw, 500px);
    height: min(97vw, 600px);
}

#tracker-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.heatmap-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.pill {
    display: flex;
    position: fixed;
    top: 5vh;
    border-radius: 8px;
    overflow: hidden;
    background-color: #245e52;
}

.pill[hidden] {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #3fa18c;
    z-index: 1;
    opacity: 100%;
}

.switch-stats {
    color: #ddd;
    font-size: clamp(15px,2.8vw,18px);
    background-color: transparent;
    width: 45vw;
    border-radius: inherit;
    border: 0px;
}

div[show] {
    display: flex;
}

.s-card {
    background-color: #333;
    border-radius: 12px;
    padding: 12px 14px;
    margin-bottom: 12px;
    border: 1px solid #555;
}

.s-date {
    font-weight: 600;
    font-size: 1.05rem
}

.s-stats {
    margin-top: 6px;
    color: #ccc;
    font-size: 0.9rem
}