body {
    font-family: monospace, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

#viewport {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#pages {
    display: flex;
    opacity: 1;
    width: 300vw;
    height: 100vh;
    transition: transform 0.7s cubic-bezier(0.3,0.2,0.2,1), opacity 0.4s ease-in-out;
    background-color: #ccc;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stat-view {
    display: none;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#stats-page {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}

.stats-names {
    color: #ccc;
    width: 95vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 2px;
}

.stats-numbers {
    width: 95vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.stat-box {
    flex: 1; 
    border: 1px solid #bbb; 
    background-color: #cfcfcf;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: medium;
}

.stat {
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: x-small;
    background-color: #7c1f25;
}

#summary-dashboard {
    display: flex;
    width: 95vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    background-color: #cfcfcf;
    margin-top: -15vh;
}

#summary-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto auto auto auto auto;
    gap: 2px;
    margin: 1vh;
}

#summary-card-header {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    font-size: medium;
}

#summary-card-1 {
    grid-column: 1;
    grid-row: 2;
    width: 45vw;
    text-align: left;
    font-size: smaller;
}

#summary-card-2 {
    grid-column: 2;
    grid-row: 2;
    width: 45vw;
    text-align: left;
    font-size: smaller;
}

#summary-card-3 {
    grid-column: 1;
    grid-row: 4;
    width: 45vw;
    text-align: center;
    font-size: smaller;
}

#summary-card-4 {
    grid-column: 2;
    grid-row: 4;
    width: 45vw;
    text-align: center;
    font-size: smaller;
}

#summary-card-footer {
    grid-column: 1 / span 2;
    grid-row: 5;
    font-size: smaller;
    text-align: center;
    margin-top: 2vh;
}

#session-dashboard {
    display: flex;
    width: 95vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    background-color: #cfcfcf;
    margin-top: -15vh;
}

#session-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-rows: auto auto;
    gap: 4px;
    margin-top: 10px;
}

.session-card {
    min-width: 45vw;
    margin: 1vw;
}

#session-card-header {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
}

#session-card-1 {
    grid-row: 2;
    grid-column: 1;
    font-size: smaller;
}

#session-card-2 {
    grid-row: 2;
    grid-column: 2;
    font-size: smaller;
    text-align: right;
}

#session-card-3 {
    grid-row: 4;
    grid-column: 1;
    font-size: smaller;
    text-align: center;
}

#session-card-4 {
    grid-row: 4;
    grid-column: 2;
    font-size: smaller;
    text-align: center;
}

#session-card-5 {
    grid-row: 5;
    grid-column: 1 / span 2;
    font-size: smaller;
    text-align: center;
    border: 1px dotted #7c1f25;
}

.card-stat {
    opacity: 0.9;
    font-size: smaller;
}

.card-meta {
    font-size: smaller;
    opacity: 0.8
}

#view-quick .heatmap-container{
    grid-column: 1 / span 2;
    grid-row: 3;
    height: 95vw;
    width: 95vw;
    justify-items: center;
    align-items: center;
}

#view-session .heatmap-container {
    grid-column: 1 / span 2;
    grid-row: 3;
    height: 95vw;
    width: 95vw;
    justify-items: center;
    align-items: center;
}

#scoring-layout {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

#scoring-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,3.5fr);
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;
}

.treble-count-box {
    min-width: 45vw;
    margin: 1vw;
    font-size: medium;
    align-items: center;
    font-variant-numeric: tabular-nums;
}

#top-trebles {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

#worst-trebles {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

#scoring-dashboard {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    background-color: #cfcfcf;
}

.graph-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.stat-view canvas {
    height: 100% !important;
    width: auto;
}

#visit-graph-container {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: auto;
    width: auto;
}

#throw-graph-container {
    grid-column: 1 / span 2;
    grid-row: 3;
    height: auto;
    width: auto;
}

#doubles-dashboard {
    display: flex;
    width: 95vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    background-color: #cfcfcf;
}

#doubles-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,3.5fr);
    grid-template-rows: auto auto;
    gap: 2vw;
    margin-top: 10px;
}

.double-count-box {
    min-width: 45vw;
    font-size: medium;
    align-items: center;
    font-variant-numeric: tabular-nums;
}

#top-doubles {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

#worst-doubles {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

#top-doubles-table {
    grid-row: 2;
    grid-column: 1;
}

#worst-doubles-table {
    grid-row: 3;
    grid-column: 1;
}

#home p {
    font-size: smaller;
    margin-top: -15px;
}

#instructions {
    text-align: center;
    font-size: x-small;
    margin-top: -10vh;
    margin-bottom: 1vh;
}

h1 {
    font-size: xx-large;
    padding: 0px;
    margin: 50px;
}

h2 {
    position: absolute;
    top: 2vh;;
    display: block;
    font-size: x-large;
    margin: 0px;
}

#view-quick hr { 
    height: 1.5px; 
    border-width: 0; 
    background-color: #007a3d;
}

#instructions p {
    margin: 1px;
}

#dartboard {
    border: 1px solid #333;
    cursor: crosshair;
    width: 100%;
    max-width: min(95vw, 500px);
    height: auto;
    display: block;
  }

#score-column {
    min-width: min(95vw, 500px);
    max-width: min(95vw, 500px);
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.score-box {
    flex: 1; 
    border: 1px solid #333; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: large;
}

#stats h2 {
    position: absolute;
    top: 2vh;
}

#quick-view .stat{
    background-color: #333;
}

[data-current] {
    background-color: #333;
    color: #f5f5f5;
}

button[hidden] {
    display:none;
}

button {
    font-size: smaller;
    padding: 8px;
    border-width: 1px;
    border-radius: 6px;
    opacity: 0.8;
    font-family: monospace;
    background-color: #999;
    z-index: 2;
}

#home button {
    font-size: large;
}

#stats .switch-page{
    position: relative;
    bottom: 9vh;
}

.switch-page {
    background-color: #111;
    color: #ccc;
    border-width: 2px;
    border-radius: 20px;
    border-color: #ccc;
    margin: 20px;
}

button:hover {
    opacity: 1;
}
 
.buttons {
    height: 5vw;
    margin-top: 2vh;
}

.buttons button {
    width: 100px;
}

.heatmap-container {
    position: relative;
    width: 80vw;
    height: 80vw;
}

#tracker-container {
    position: relative;
    width: 100%;
    max-width: min(80vw, 500px);
    height: min(97vw, 600px);
}

#tracker-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.heatmap-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.pill {
    display: flex;
    position: absolute;
    top: 10vh;
    border-radius: 8px;
    overflow: hidden;
    background-color: #245e52;
}

.pill[hidden] {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #3fa18c;
    z-index: 1;
    opacity: 100%;
}

.switch-stats {
    color: #ddd;
    font-size: medium;
    background-color: transparent;
    width: 200px;
    border-radius: inherit;
    border: 0px;
}

div[show] {
    display: flex;
}

.s-card {
    background-color: #333;
    border-radius: 12px;
    padding: 12px 14px;
    margin-bottom: 12px;
    border: 1px solid #555;
}

.s-date {
    font-weight: 600;
    font-size: 1.05rem
}

.s-stats {
    margin-top: 6px;
    color: #ccc;
    font-size: 0.9rem
}