body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    height: 100%;
}

#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

#pages {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 1s ease;
    background-color: #eee;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#instructions {
    text-align: center;
    font-size: x-small;
}

h1 {
    font-size: 32px;
    padding: 0px;
    margin: 5px;
}

#instructions p {
    margin: 2px;
}

canvas {
    border: 1px solid #333;
    margin-bottom: 10px;
    max-width: 90vw;
    max-height: 90vh;
    cursor: crosshair;
}

#score-column {
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.score-box {
    flex: 1; 
    border: 1px solid #ccc; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: 32px;
}

.stat-box {
    flex: 1; 
    border: 1px solid #ccc; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 18px;
}

.stat {
    flex: 1; 
    border: 1px solid #111; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    font-size: 12px;
}

[data-current] {
    background-color: #333;
    color: #f5f5f5;
}

button {
    font-size: 12px;
    padding: 8px;
    border-width: 1px;
    border-radius: 6px;
    opacity: 0.8;
    
}

.switch-page {
    background-color: #111;
    color: #ccc;
    border-width: 2px;
    border-radius: 20px;
    border-color: #ccc;
    margin: 20px;
}

button:hover {
    opacity: 1;
}
